.foto {
	@include value('padding-top', 25, 10);
	
	.items {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;

		@include max-screen($tablet-middle) {
			grid-template-rows: none;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 10px;
		}

		@include max-screen($tablet-mini) {
			grid-template-rows: none;
			grid-template-columns: 1fr 1fr;
			grid-gap: 10px;
		}
	}

	.item {
		&__img {
			width: 100%;
			height: 260px;
			object-fit: cover;
			border-radius: 10px;

			@include max-screen($pc-medium) {
				height: 200px;
			}
		}
	}
}