//- fonts
link(rel="stylesheet", href="files/fonts/Inter/stylesheet.css")
link(rel="stylesheet", href="files/fonts/Cormorant/stylesheet.css")
//- stylesheet
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css")
link(rel="stylesheet", href="css/libs.min.css")
link(rel="stylesheet", href="css/common.min.css")
