script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=6184eb16-4f7f-477d-bb93-452c4404b653&lang=ru_RU")
script(src="js/common.min.js")
