- var img = 'img/';

include ../../blocks/hamburger/hamburger.pug
include ../../blocks/mainscreen/mainscreen.pug
include ../../blocks/procedures/procedures.pug
include ../../blocks/services/services.pug
include ../../blocks/equipment/equipment.pug
//- До / после 
include ../../blocks/reasons/reasons.pug

mixin tiktok-icon
	svg(width='26' height='30' viewBox='0 0 26 30' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M10.1318 11.8145V10.6454C9.7342 10.5811 9.33257 10.5459 8.93001 10.5401C5.03268 10.5316 1.58227 13.109 0.411905 16.9028C-0.758466 20.6965 0.623021 24.8263 3.82201 27.0978C2.64893 25.8166 1.8643 24.2162 1.56283 22.4899C1.26136 20.7636 1.45593 18.9852 2.12305 17.3692C2.79018 15.7533 3.90135 14.369 5.32243 13.3833C6.74351 12.3977 8.41377 11.8528 10.1316 11.8146L10.1318 11.8145Z' fill='#25F4EE')
		path(d='M10.344 25.057C12.523 25.054 14.3141 23.3021 14.4095 21.0805V1.25529H17.9584C17.886 0.841026 17.8515 0.42079 17.8552 0L13.001 0V19.8061C12.9202 22.039 11.1248 23.8077 8.93543 23.8113C8.28115 23.8056 7.63754 23.6414 7.05762 23.3322C7.43348 23.8637 7.92709 24.2969 8.4982 24.5966C9.06931 24.8964 9.70175 25.0541 10.344 25.057V25.057ZM24.5873 7.98176V6.87983C23.2811 6.88036 22.004 6.48703 20.9161 5.74924C21.8697 6.88062 23.1584 7.6643 24.5873 7.98176V7.98176Z' fill='#25F4EE')
		path(d='M20.9222 5.74973C19.8505 4.5044 19.2598 2.90349 19.2603 1.24609H17.9645C18.1319 2.16245 18.4804 3.03439 18.989 3.8087C19.4975 4.58302 20.1553 5.24346 20.9222 5.74973V5.74973ZM8.93212 15.4946C8.0233 15.4993 7.14212 15.814 6.42865 16.3885C5.71519 16.963 5.2104 17.7645 4.99454 18.6654C4.77868 19.5664 4.86414 20.5151 5.23733 21.3608C5.61052 22.2065 6.25002 22.9006 7.05417 23.3327C6.61451 22.7132 6.35122 21.9817 6.29339 21.219C6.23556 20.4564 6.38545 19.6923 6.72648 19.0111C7.06752 18.3299 7.58643 17.7582 8.22589 17.3592C8.86535 16.9601 9.60046 16.7492 10.35 16.7498C10.7575 16.7552 11.1621 16.82 11.5517 16.942V11.9014C11.1539 11.8405 10.7523 11.8085 10.35 11.8056H10.1339V15.6383C9.7423 15.5311 9.33744 15.4827 8.93212 15.4946V15.4946Z' fill='#FE2C55')
		path(d='M24.5871 7.98206V11.8149C22.1691 11.8101 19.8138 11.029 17.855 9.58228V19.653C17.8446 24.6782 13.8499 28.7464 8.92586 28.7464C7.0971 28.7498 5.31237 28.1739 3.81787 27.0983C5.03654 28.436 6.6217 29.3682 8.36689 29.7734C10.1121 30.1786 11.9364 30.038 13.6022 29.3701C15.268 28.7021 16.6981 27.5377 17.7062 26.0284C18.7143 24.5192 19.2536 22.7351 19.254 20.9086V10.8664C21.2195 12.3036 23.5776 13.0745 25.9955 13.0702V8.13502C25.5221 8.13358 25.0501 8.08232 24.5871 7.98206V7.98206Z' fill='#FE2C55')
		path(d='M17.8561 19.6532V9.58247C19.8209 11.021 22.1795 11.792 24.5976 11.7863V7.95359C23.169 7.64571 21.8773 6.87221 20.9171 5.74973C20.1502 5.24346 19.4924 4.58302 18.9838 3.8087C18.4753 3.03439 18.1267 2.16245 17.9594 1.24609H14.4104V21.0812C14.3759 21.9446 14.0786 22.7756 13.56 23.4586C13.0414 24.1417 12.3272 24.6429 11.5166 24.8926C10.706 25.1424 9.83929 25.1282 9.03694 24.8521C8.2346 24.576 7.53645 24.0517 7.03953 23.3521C6.23525 22.92 5.59561 22.2259 5.22232 21.3802C4.84904 20.5344 4.76353 19.5856 4.9794 18.6846C5.19528 17.7835 5.70014 16.982 6.41371 16.4075C7.12727 15.8329 8.00858 15.5183 8.91748 15.5137C9.32511 15.5175 9.73002 15.582 10.1193 15.7054V11.8726C8.39226 11.9025 6.71104 12.4445 5.28064 13.4326C3.85023 14.4208 2.73246 15.8123 2.06359 17.4375C1.39472 19.0628 1.20367 20.8515 1.51372 22.5856C1.82377 24.3198 2.62153 25.9244 3.80973 27.2038C5.31892 28.244 7.10619 28.7828 8.92697 28.7466C13.851 28.7466 17.8457 24.6784 17.8561 19.6532V19.6532Z' fill='black')

mixin instagram-icon
	svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M15.1035 22.7499C10.8789 22.7499 7.44141 19.3124 7.44141 15.0878C7.44141 10.8631 10.8789 7.42566 15.1035 7.42566C19.3281 7.42566 22.7656 10.8631 22.7656 15.0878C22.7656 19.3133 19.3281 22.7499 15.1035 22.7499ZM15.1035 10.6101C12.6347 10.6101 10.6258 12.619 10.6258 15.0878C10.6258 17.5566 12.6347 19.5655 15.1035 19.5655C17.5723 19.5655 19.5812 17.5566 19.5812 15.0878C19.5812 12.619 17.5723 10.6101 15.1035 10.6101Z' fill='url(#paint0_linear_212_407)')
		path(d='M22.6711 9.2381C23.6669 9.2381 24.4741 8.43089 24.4741 7.43515C24.4741 6.43941 23.6669 5.6322 22.6711 5.6322C21.6754 5.6322 20.8682 6.43941 20.8682 7.43515C20.8682 8.43089 21.6754 9.2381 22.6711 9.2381Z' fill='url(#paint1_linear_212_407)')
		path(d='M21.4181 30H8.58103C3.84938 30 0 26.1506 0 21.419V8.58103C0 3.84938 3.84938 0 8.58103 0H21.419C26.1506 0 30 3.84938 30 8.58103V21.419C30 26.1497 26.1497 30 21.4181 30V30ZM8.58103 3.18352C5.6052 3.18352 3.1844 5.60433 3.1844 8.58015V21.4181C3.1844 24.3939 5.6052 26.8147 8.58103 26.8147H21.419C24.3948 26.8147 26.8156 24.3939 26.8156 21.4181V8.58103C26.8156 5.6052 24.3948 3.1844 21.419 3.1844H8.58103V3.18352Z' fill='url(#paint2_linear_212_407)')
		defs
			linearGradient#paint0_linear_212_407(x1='2.16721' y1='28.0243' x2='25.768' y2='4.42365' gradientUnits='userSpaceOnUse')
				stop(stop-color='#FEE411')
				stop(offset='0.0518' stop-color='#FEDB16')
				stop(offset='0.1381' stop-color='#FEC125')
				stop(offset='0.2481' stop-color='#FE983D')
				stop(offset='0.3762' stop-color='#FE5F5E')
				stop(offset='0.5' stop-color='#FE2181')
				stop(offset='1' stop-color='#9000DC')
			linearGradient#paint1_linear_212_407(x1='2.12447' y1='27.9817' x2='25.7251' y2='4.38104' gradientUnits='userSpaceOnUse')
				stop(stop-color='#FEE411')
				stop(offset='0.0518' stop-color='#FEDB16')
				stop(offset='0.1381' stop-color='#FEC125')
				stop(offset='0.2481' stop-color='#FE983D')
				stop(offset='0.3762' stop-color='#FE5F5E')
				stop(offset='0.5' stop-color='#FE2181')
				stop(offset='1' stop-color='#9000DC')
			linearGradient#paint2_linear_212_407(x1='2.07095' y1='27.9282' x2='25.6717' y2='4.32743' gradientUnits='userSpaceOnUse')
				stop(stop-color='#FEE411')
				stop(offset='0.0518' stop-color='#FEDB16')
				stop(offset='0.1381' stop-color='#FEC125')
				stop(offset='0.2481' stop-color='#FE983D')
				stop(offset='0.3762' stop-color='#FE5F5E')
				stop(offset='0.5' stop-color='#FE2181')
				stop(offset='1' stop-color='#9000DC')

mixin vk-icon
	svg(width='30' height='19' viewBox='0 0 30 19' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M29.8383 16.5073C28.6131 14.3023 25.457 11.6528 24.154 10.4999C23.7975 10.1842 23.7593 9.63806 24.0838 9.28898C26.5704 6.61696 28.5592 3.54677 29.2438 1.69157C29.5458 0.872035 28.9206 0.00613617 28.0397 0.00613617H25.4809C24.6375 0.00613617 24.1438 0.30886 23.9086 0.790899C21.842 5.02562 20.0693 6.85832 18.8284 7.92945C18.1337 8.52944 17.0503 8.0324 17.0503 7.11946C17.0503 5.36039 17.0503 3.08655 17.0503 1.47407C17.0503 0.692037 16.4107 0.0593174 15.6219 0.0593174L10.9474 0.00613617C10.359 0.00613617 10.0229 0.672264 10.376 1.1393L11.1478 2.24724C11.4383 2.6311 11.5951 3.09814 11.5951 3.57746L11.591 8.56694C11.591 9.43488 10.539 9.85897 9.91445 9.2508C7.80152 7.19309 5.96814 2.9911 5.30815 0.981806C5.11724 0.400222 4.57247 0.00749979 3.95475 0.00613617L1.4341 0C0.488432 0 -0.202923 0.89658 0.0541194 1.7993C2.35727 9.88351 7.0829 17.5743 15.5046 18.4082C16.3344 18.49 17.0503 17.8218 17.0503 16.9948V14.3725C17.0503 13.6205 17.64 12.9742 18.3982 12.9551C18.4248 12.9544 18.4514 12.9544 18.478 12.9544C20.7055 12.9544 23.2002 16.1964 24.0729 17.7127C24.3238 18.1491 24.7929 18.415 25.3002 18.415H28.6908C29.6801 18.415 30.3149 17.3657 29.8383 16.5073Z' fill='black')

mixin user-card-icon
	svg(width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M0 3.40909C0 1.5263 1.567 0 3.5 0H31.5C33.433 0 35 1.5263 35 3.40909V21.5909C35 23.4737 33.433 25 31.5 25H3.5C1.56701 25 0 23.4737 0 21.5909V3.40909ZM7 9.09091C7 6.58052 9.08934 4.54545 11.6667 4.54545C14.244 4.54545 16.3333 6.58052 16.3333 9.09091C16.3333 11.6013 14.244 13.6364 11.6667 13.6364C9.08934 13.6364 7 11.6013 7 9.09091ZM28 9.09091H21V6.81818H28V9.09091ZM28 15.9091H21V13.6364H28V15.9091ZM11.6667 15.9091C9.07974 15.9091 6.71483 17.3327 5.55792 19.5864L4.78984 21.0827C4.60901 21.435 4.62833 21.8533 4.84091 22.1883C5.05348 22.5233 5.42899 22.7273 5.83333 22.7273H17.5C17.9043 22.7273 18.2799 22.5233 18.4924 22.1883C18.705 21.8533 18.7243 21.435 18.5435 21.0827L17.7754 19.5864C16.6185 17.3327 14.2536 15.9091 11.6667 15.9091Z' fill='#001E44')

mixin arrow-icon
	svg(width='59' height='16' viewBox='0 0 59 16' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M58.7071 8.70711C59.0976 8.31658 59.0976 7.68342 58.7071 7.29289L52.3431 0.928932C51.9526 0.538408 51.3195 0.538408 50.9289 0.928932C50.5384 1.31946 50.5384 1.95262 50.9289 2.34315L56.5858 8L50.9289 13.6569C50.5384 14.0474 50.5384 14.6805 50.9289 15.0711C51.3195 15.4616 51.9526 15.4616 52.3431 15.0711L58.7071 8.70711ZM0 9H58V7H0V9Z' fill='#FAFFFF')


