mixin roadmap
	section.roadmap
		.container
			.caption
				h2.caption__title Как это происходит? 
				p.caption__text Сеансы редко занимают больше часа. <span>Чаще всего – 20–30 минут.</span>
			.inner
				.item
					.item-icon
						img.item__icon(src=img+"roadmap/icon1.svg", alt="")
					h3.item__title Консультация со специалистом
					.item__text Предварительно следует проконсультироваться со специалистом: он подскажет, что выбрать. 
				.item
					.item-icon
						img.item__icon(src=img+"roadmap/icon2.svg", alt="")
					h3.item__title Начало процедуры
					.item__text Перед и после вмешательства лицо пациента обрабатывают защитными и восстанавливающими составами для лучшего эффекта.
				.item
					.item-icon
						img.item__icon(src=img+"roadmap/icon3.svg", alt="")
					h3.item__title Завершение
					.item__text Стандартные ограничения после процедур – избегать ультрафиолетового излучения, пользоваться солнцезащитными кремами, не посещать баню, сауну и солярий. Эти ограничения сохраняются до 2–3 недель.

