.license {
	@include value('padding-top', 50, 20);

	.inner {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
		
		@include max-screen($tablet-middle) {
			grid-template-rows: none;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 10px;
		}
		@include max-screen($tablet-mini) {
			grid-template-rows: none;
			grid-template-columns: 1fr 1fr;
			grid-gap: 10px;
		}

	}

	.item {
		background: $header-scroll;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 440px;

		@include max-screen($pc-medium) {
			height: 360px;
		}
		@include max-screen($mobile-large) {
			height: 250px;
		}
		@include max-screen($mobile-small) {
			height: 200px;
		}

		&__img {
			object-fit: contain;
			max-width: 63.59%;
			max-height: 88.64%;
			width: auto;
		}
	}
}