body {
	position: relative;
	font: 300 14px/1 $main-font;
	background: $body;
	color: $dark;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	max-width: 1920px;
	overflow-x: hidden;
	margin: 0 auto;
}

a {
	transition: .3s;
}

.main {
	overflow: hidden;
}

.container {
	max-width: $container-pc;
	width: 100%;
	margin: 0 auto;
	
	@include max-screen($pc-medium) {
		max-width: $container-mb;
	}
	@include max-screen($tablet-large) {
		padding: 0 15px;
	}
}

.copyright {
	font-weight: 200;
	@include fz(19, 14);
	line-height: 1.6;
	
	@include max-screen($pc-medium) {
		@include fz(15, 14);
	}
	@include max-screen($tablet-large) {
		text-align: center;
	}

	a {
		color: $dark;
		text-decoration: none;
		border-bottom: 1px solid $dark;
	}
}

.social {
	display: flex;
	align-items: center;

	@include max-screen($tablet-large) {
		margin-left: auto;
		margin-right: 10px;
	}

	&-item {
		@include value('margin-left', 24, 12);

		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background: $white;

		@include max-screen($pc-medium) {
			width: 35px;
			height: 35px;
			border-radius: 5px;
		}
		@media (any-hover) {
			&:hover {
				background: rgba(0, 30, 68, 0.1);
			}

			&:active {
				background: transparent;
			}
		}

		svg {
			height: 30px;
			max-height: 30px;
			
			@include max-screen($pc-medium) {
				width: 20px;
				max-height: 20px;
			}
		}
	}
}

.caption {

	&_center {
		text-align: center;
	}

	&__title {
		@include value('margin-bottom', 40, 20);
		line-height: .8;
		@include fz(68, 22);
		line-height: 1.1;
		font-family: $second-font;
	}
	&__text {
		@include fz(19, 15);
		line-height: 1.8;
		font-weight: 300;
	}
}

.arrow {
	
	@media (any-hover) {
		&:hover {
			svg path {
				fill: $green;
			}
		}
		&:active {
			svg path {
				fill: $blue_dark;
			}
		}
	}

}