body {
	position: relative;
	font: 300 14px/1 $main-font;
	background: $body;
	color: $dark;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	max-width: 1920px;
	overflow-x: hidden;
	margin: 0 auto;
}

a {
	transition: .3s;
}


.main {
	overflow: hidden;
}

.container {
	max-width: $container-pc;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@include max-screen($pc-medium) {
		max-width: $container-mb;
	}
}

.copyright {
	font-weight: 200;
	@include fz(19, 14);
	line-height: 1.6;

	@include max-screen($pc-medium) {
		@include fz(15, 14);
	}

	@include max-screen($tablet-large) {
		text-align: center;
	}

	a {
		color: $dark;
		text-decoration: none;
		border-bottom: 1px solid $dark;
	}
}

.social {
	display: flex;
	align-items: center;

	@include max-screen($tablet-large) {
		margin-left: auto;
		margin-right: 10px;
	}

	&-item {
		@include value('margin-left', 24, 12);

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background: $white;

		@include max-screen($pc-medium) {
			width: 35px;
			height: 35px;
			border-radius: 5px;
		}

		@media (any-hover) {
			&:hover {
				background: rgba(0, 30, 68, 0.1);
			}

			&:active {
				background: transparent;
			}
		}

		svg {
			height: 30px;
			max-height: 30px;

			@include max-screen($pc-medium) {
				width: 20px;
				max-height: 20px;
			}
		}
	}
}

.section-label {
	display: inline-block;
	border-radius: 10px;
	background: $white2;
	color: rgba(0, 30, 68, 0.56);
	@include fz(21, 14);
	line-height: 1.2;
	@include value('padding-top', 25, 10);
	@include value('padding-right', 52, 20);
	@include value('padding-bottom', 25, 10);
	@include value('padding-left', 52, 20);

	@include max-screen($mobile-large) {
		text-align: center;
	}
}

.caption {
	@include value('margin-bottom', 40, 20);

	&_white {
		color: $white;
	}

	&_center {
		text-align: center;
	}

	&__title {
		line-height: .8;
		@include fz(68, 24);
		line-height: 1.1;
		font-family: $second-font;
		
		@include max-screen($pc-medium) {
			@include fz(56, 24);
		}
	}

	&__text {
		@include fz(19, 15);
		line-height: 1.6;
		font-weight: 300;
		@include value('margin-top', 40, 10);

		span {
			font-weight: 500;
		}
	}
}

.btn {
	@include value('padding-top', 28, 14);
	@include value('padding-bottom', 28, 14);
	@include value('padding-left', 92, 32);
	@include value('padding-right', 92, 32);
	text-align: center;
	border-radius: 10px;
	font-weight: 500;
	@include fz(21, 16);
	text-decoration: none;
	display: inline-block;

	&_white {
		background: $white2;
		color: $dark;

		@media (any-hover) {
			&:hover {
				background: $dark;
				color: $white2;
			}

			&:active {
				background: $blue_dark;
			}
		}
	}

	&_green {
		background: $green;
		box-shadow: 0px 2px 34px rgba(53, 210, 226, 0.4);
		color: $white2;

		@media (any-hover) {
			&:hover {
				background: $dark;
			}

			&:active {
				background: $blue_dark;
			}
		}
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;

	@include max-screen($mobile-large) {
		padding: 0;
	}
}

.pagination {
	padding: 10px 0;
	width: 160px !important;
	transform: translate(0, 0) !important;
	@include value('margin-right', 180, 20);
	overflow: visible !important; 

	&_white {
		.swiper-pagination-bullet {
			background: $white2;

			&.swiper-pagination-bullet-active {
				background: $green;
			}
		}
	}
	&_dark {
		.swiper-pagination-bullet {
			background: $green-gray_dark;

			&.swiper-pagination-bullet-active {
				background: $green;
			}
		}
	}

	@include max-screen($mobile-large) {
		display: none;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		border-radius: 2px;
		opacity: 1;
		transition: .3s;
	
		&.swiper-pagination-bullet-active {
			transform: rotate(-45deg) scale(1.8);
		}
	}
	
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next, 
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(1);
}

.arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 260px;

	&_white {
		.arrow svg path {
			fill: $white2;
		}
	}
	&_dark {
		.arrow svg path {
			fill: $dark;
		}
	}

	@include max-screen($tablet-large) {
		width: 200px;
	}

	@include max-screen($mobile-large) {
		margin: 0 auto;
		width: 150px;
	}
}

.arrow {
	cursor: pointer;
	transition: .3s;

	&.swiper-button-disabled {
		opacity: .2;
		cursor: not-allowed;
	}

	@media (any-hover) {
		&:hover {
			svg path {
				fill: $green;
			}
		}
		
		&:active {
			svg path {
				fill: $blue_dark;
			}
		}
	}
	
	&_prev {
		transform: rotate(-180deg);
	}
}