body {
	position: relative;
	font: 300 14px/1 $main-font;
	background: $body;
	color: $dark;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	max-width: 1920px;
	overflow-x: hidden;
	margin: 0 auto;
}

a {
	transition: .3s;
}


.main {
	overflow: hidden;
}

.container {
	max-width: $container-pc;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@include max-screen($pc-medium) {
		max-width: $container-mb;
	}
}

.copyright {
	font-weight: 200;
	@include fz(19, 14);
	line-height: 1.6;

	@include max-screen($pc-medium) {
		@include fz(15, 14);
	}

	@include max-screen($tablet-large) {
		text-align: center;
	}

	a {
		color: $dark;
		text-decoration: none;
		border-bottom: 1px solid $dark;
	}
}

.social {
	display: flex;
	align-items: center;

	@include max-screen($tablet-large) {
		margin-left: auto;
		margin-right: 10px;
	}

	&-item {
		@include value('margin-left', 24, 12);

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background: $white;

		@include max-screen($pc-medium) {
			width: 35px;
			height: 35px;
			border-radius: 5px;
		}

		@media (any-hover) {
			&:hover {
				background: rgba(0, 30, 68, 0.1);
			}

			&:active {
				background: transparent;
			}
		}

		svg,
		img {

			@include max-screen($pc-medium) {
				width: 50%;
				height: 50%;
			}
		}
	}
}

.section-label {
	display: inline-block;
	border-radius: 10px;
	background: $white2;
	color: rgba(0, 30, 68, 0.56);
	@include fz(21, 14);
	line-height: 1.2;
	@include value('padding-top', 25, 10);
	@include value('padding-right', 52, 20);
	@include value('padding-bottom', 25, 10);
	@include value('padding-left', 52, 20);

	@include max-screen($mobile-large) {
		text-align: center;
	}
}

.caption {
	@include value('margin-bottom', 40, 20);

	&_w1104 {
		max-width: 1104px;
		width: 100%;
	}

	&_white {
		color: $white;
	}

	&_center {
		text-align: center;
	}

	&__title {
		line-height: .8;
		@include fz(68, 24);
		line-height: 1.1;
		font-family: $second-font;
		
		@include max-screen($pc-medium) {
			@include fz(56, 24);
		}
	}

	&__text {
		@include fz(19, 15);
		line-height: 1.6;
		font-weight: 300;
		@include value('margin-top', 40, 10);

		span {
			font-weight: 500;
		}
	}
}

.mini-caption {
	@include value('margin-top', 40, 20);
	@include value('margin-bottom', 40, 20);

	&__title {
		font-weight: 400;
		@include fz(24, 16);
		line-height: 1.2;
		
		span {
			color: $green;
		}
	}
	
	&__text {
		@include fz(13, 12);
		font-weight: 300;
	}

}

.btn {
	@include value('padding-top', 28, 14);
	@include value('padding-bottom', 28, 14);
	@include value('padding-left', 92, 32);
	@include value('padding-right', 92, 32);
	text-align: center;
	border-radius: 10px;
	font-weight: 500;
	@include fz(21, 16);
	text-decoration: none;
	display: inline-block;

	&_white {
		background: $white2;
		color: $dark;

		@media (any-hover) {
			&:hover {
				background: $dark;
				color: $white2;
			}

			&:active {
				background: $blue_dark;
			}
		}
	}

	&_green {
		background: $green;
		box-shadow: 0px 2px 34px rgba(53, 210, 226, 0.4);
		color: $white2;

		@media (any-hover) {
			&:hover {
				background: $dark;
			}

			&:active {
				background: $blue_dark;
			}
		}
	}

	&_dark {
		background: $dark;
		color: $white2;

		@media (any-hover) {
			&:hover {
				background: $green;
			}

			&:active {
				background: $blue_dark;
			}
		}
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;

	@include max-screen($mobile-large) {
		padding: 0;
	}
}

.pagination {
	padding: 10px 0;
	width: 160px !important;
	transform: translate(0, 0) !important;
	@include value('margin-right', 180, 20);
	overflow: visible !important; 

	&_white {
		.swiper-pagination-bullet {
			background: $white2;

			&.swiper-pagination-bullet-active {
				background: $green;
			}
		}
	}
	&_dark {
		.swiper-pagination-bullet {
			background: $green-gray_dark;

			&.swiper-pagination-bullet-active {
				background: $green;
			}
		}
	}

	@include max-screen($mobile-large) {
		display: none;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		border-radius: 2px;
		opacity: 1;
		transition: .3s;
	
		&.swiper-pagination-bullet-active {
			transform: rotate(-45deg) scale(1.8);
		}
	}
	
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next, 
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(1);
}

.arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 260px;

	&_white {
		.arrow svg path {
			fill: $white2;
		}
	}
	&_dark {
		.arrow svg path {
			fill: $dark;
		}
	}

	@include max-screen($tablet-large) {
		width: 200px;
	}

	@include max-screen($mobile-large) {
		margin: 0 auto;
		width: 150px;
	}
}

.arrow {
	cursor: pointer;
	transition: .3s;

	&.swiper-button-disabled {
		opacity: .2;
		cursor: not-allowed;
	}

	@media (any-hover) {
		&:hover {
			svg path {
				fill: $green;
			}
		}
		
		&:active {
			svg path {
				fill: $blue_dark;
			}
		}
	}
	
	&_prev {
		transform: rotate(-180deg);
	}
}

.breadcrumbs {
	@include value('padding-top', 190, 80);

	.list {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		width: 100%;
		padding-bottom: 10px;

		&-item {
			@include value('min-width', 340, 200);
			@include value('margin-right', 30, 15);

			@include max-screen($mobile-large) {
				min-width: 220px;
			}

			&:first-child {
				min-width: 160px;
				max-width: none;

				.list__link {
					background: transparent;
					border: 0;
					@include value('padding-top', 14, 6);
					@include value('padding-bottom', 14, 6);
					padding-left: 0;
					padding-right: 0;

					svg {
						margin-right: 20px;
					}

					@media (any-hover) {
						&:hover {
							color: $green;

							svg path {
								fill: $green;
							}
						}

						&:active {
							color: $blue_dark;
							
							svg path {
								fill: $blue_dark;
							}
						}
					}
				}
			}
			&:not(:first-child) {
				.list__link {
					@media (any-hover) {
						&:hover {
							background: transparent;
							color: $green;
						}
						
						&:active {
							color: $white2;
							background: $blue_dark;
							border-color: $blue_dark;
						}
					}
				}
			}
		}

		&__link {
			text-decoration: none;
			display: block;
			max-width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			@include value('padding-top', 14, 6);
			@include value('padding-bottom', 14, 6);
			@include value('padding-right', 32, 12);
			@include value('padding-left', 32, 12);
			background: $green-gray;
			border: 1px solid $green-gray;
			border-radius: 10px;
			text-align: center;
			@include fz(18, 12);
			color: $dark;
		}
	}

	.os-content {
		display: flex;
	}
}

.actions {
	width: 100%;
	@include value('margin-top', 40, 20);
	text-align: center;
}

.tabs {
	@include value('padding-top', 25, 10);

	&-list {
		display: flex;
		flex-wrap: nowrap;
		min-width: 100%;
		padding-bottom: 30px;

		.os-content {
			display: flex;
		}

		&-wrap {
			@include value('margin-bottom', 70, 25);
			width: 100%;
			overflow-x: auto;
		}

		&-item {
			@include value('margin-right', 54, 30);
			position: relative;
		}
	}

	&-num {
		@include value('height', 46, 26);
		@include value('width', 46, 26);
		@include fz(18, 12);
		font-weight: 700;
		color: $white2;
		border-radius: 50%;
		background: $green;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translate(50%, 50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		display: block;
		text-align: center;
		@include value('padding-top', 22, 10);
		@include value('padding-bottom', 22, 10);
		@include value('padding-left', 49, 18);
		@include value('padding-right', 49, 18);
		color: $dark;
		font-weight: 700;
		@include fz(21, 15);
		background: $beige;
		border: 1px solid $gray;
		text-decoration: none;
		border-radius: 10px;
		white-space: nowrap;

		@media (any-hover) {
			&:hover {
				color: $white;
				background: $dark;

				.tabs-num {
					color: $dark;
					background: $gray;
				}

			}

			&:active {
				color: $white2;
				background: $blue_dark;

				.tabs-num {
					color: $white2;
					background: $dark;
				}

			}
		}

		&.active {
			color: $white2;
			background: $green;
			border-color: $green;

			.tabs-num {
				display: none;
			}
		}
	}
}

.customScroll {
	height: 100%;
}

.os-theme-dark>.os-scrollbar,
.os-theme-light>.os-scrollbar {
	padding: 0;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
	background: $white;
}

.os-theme-dark>.os-scrollbar-vertical .os-scrollbar-handle,
.os-theme-light>.os-scrollbar-vertical .os-scrollbar-handle {
	width: 4px;
	border-radius: 4px;
	left: -1px;
	right: auto;
	z-index: 2;
}

.os-theme-dark>.os-scrollbar-vertical,
.os-theme-light>.os-scrollbar-vertical {
	width: 2px;
	background: $gray;
	border-radius: 2px;
	margin-right: 1px;
}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
	top: 5px;
	bottom: 5px;
}