/*
	* Картинки
*/
$img: '../img/';

/*
	* Цвета
*/
$white: #fff;
$body: #EEFBFB;
$beige: #F5F5F5;
$gray: #E6EFF0;
$green: #00B5C8;
$blue_light: #3C78C4;
$blue_dark: #3166A8;
$dark: #001E44;

/*
	* Шрифты
*/
$main-font: 'Inter', 'Arial', 'Helvetica', sans-serif;
$second-font: 'Cormorant', 'Arial', 'Helvetica', sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container-pc: 1620px;
$container-mb: 1200px;

/*
	* Медиа
*/
$pc-medium: 1620px;
$tablet-large: 1200px;
$tablet-middle: 769px;
$mobile-large: 599px;
$mobile-medium: 400px;
$mobile-small: 350px;