/*
	* Картинки
*/
$img: '../img/';

/*
	* Цвета
*/
$header-scroll: #EBF8F7;
$white: #fff;
$white2: #FAFFFF;
$body: #EEFBFB;
$beige: #F5F5F5;
$gray: #E6EFF0;
$gray_dark: #7E8FA5;
$green-green: #00B412;
$green: #00B5C8;
$green_dark: #008F9E;
$green_dark2: #346C88;
$green-gray: #D8F5F5;
$green-gray_dark: #93B1B5;
$blue_light: #3C78C4;
$blue_dark: #3166A8;
$dark: #001E44;
$dark2: #04234B;
$gray-brown: #909090;
$purple: #4F578C;
$orange: #FFA800;
$red: #D33300;


/*
	* Шрифты
*/
$main-font: 'Inter', 'Arial', 'Helvetica', sans-serif;
$second-font: 'Cormorant', 'Arial', 'Helvetica', sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container-pc: 1650px;
$container-mb: 1240px;

/*  
	* Медиа
*/
$pc-medium: 1620px;
$tablet-large: 1200px;
$tablet-middle: 900px;
$tablet-mini: 700px;
$mobile-large: 599px;
$mobile-medium: 400px;
$mobile-small: 350px;

$mobile-landscape-height: 540px;