footer.footer
	.container
		p.copyright Создание и продвижение сайта: 
			a(href="storozhenko.pro", target="_blank", rel="noopener noreferrer") Storozhenko.pro
		ul.links
			li.links-item 
				a.links__link.active(href="services.html") Услуги
			li.links-item 
				a.links__link(href="prices.html") Цены
			li.links-item 
				a.links__link(href="foto.html") Фото
			li.links-item 
				a.links__link(href="license.html") Лицензии
			li.links-item 
				a.links__link(href="specialists.html") Специалисты
			li.links-item 
				a.links__link(href="reviews.html") Отзывы
			li.links-item 
				a.links__link(href="faq.html") FAQ
			li.links-item 
				a.links__link(href="contact.html") Контакты