header.header
	.wrapper.wrapper_desktop
		.container
			.inner
				ul.menu.menu_left
					li.menu-item
						a.menu__link(href="services.html") Услуги
					li.menu-item
						a.menu__link(href="prices.html") Цены
					li.menu-item
						a.menu__link(href="foto.html") Фото
					li.menu-item
						a.menu__link(href="license.html") Лицензии
					li.menu-item
						a.menu__link(href="specialists.html") Специалисты
				a.logo(href="/")
					img(src=img+"logo.png", alt="")
				ul.menu.menu_right
					li.menu-item
						a.menu__link(href="reviews.html") Отзывы
					li.menu-item
						a.menu__link(href="faq.html") FAQ
					li.menu-item
						a.menu__link(href="contact.html") Контакты
			ul.social 
				li.social-item
					a.social__link(href="#") 
						+instagram-icon
				li.social-item
					a.social__link(href="#") 
						+vk-icon
				li.social-item
					a.social__link(href="#") 
						+tiktok-icon
	.wrapper.wrapper_mobile
		.container
			.row
				a.logo(href="/")
					img(src=img+"logo.png", alt="")
				ul.social 
					li.social-item
						a.social__link(href="#") 
							+instagram-icon
					li.social-item
						a.social__link(href="#") 
							+vk-icon
					li.social-item
						a.social__link(href="#") 
							+tiktok-icon
				+hamburger
			.mobileMenu-wrapper#menu
				ul.mobileMenu
					li.mobileMenu-item
						a.mobileMenu__link(href="services.html") Услуги
					li.mobileMenu-item
						a.mobileMenu__link(href="prices.html") Цены
					li.mobileMenu-item
						a.mobileMenu__link(href="foto.html") Фото
					li.mobileMenu-item
						a.mobileMenu__link(href="license.html") Лицензии
					li.mobileMenu-item
						a.mobileMenu__link(href="specialists.html") Специалисты
					li.mobileMenu-item
						a.mobileMenu__link(href="reviews.html") Отзывы
					li.mobileMenu-item
						a.mobileMenu__link(href="faq.html") FAQ
					li.mobileMenu-item
						a.mobileMenu__link(href="contact.html") Контакты
