mixin question
	section.question
		.container
			.col.col_left
				img.question__doc(src=img+"consult/doc.png", srcset=img+"consult/webp/doc.webp" alt="")
			.col.col_right
				.caption
					h2.caption__title Есть вопрос? <br> - задайте его прямо сейчас нашему специалисту
				p.question__info Специалист онлайн
				.col-inner
					a.btn.btn_green(href="#") Задать вопрос
					p.question__text *Среднее время ответа 7-9 минут


