extends ../layout.pug

block head-inner
	+title('Index page')
	+desc('Index page description')

block main
	+breadcrumbs

	section.faq
		.container
			.caption
				h2.caption__title Ответы на часто задаваемые вопросы
			.spoilers
				.spoiler
					h3.spoiler__title Чем отличается профессиональное образование от дополнительного профессионального образования?
						.spoiler__plus
					.text-container
						p Профессиональное образование — вид образования, который направлен на приобретение обучающимися в процессе освоения основных профессиональных образовательных программ знаний, умений, навыков и формирование компетенции определенных уровня и объема, позволяющих вести профессиональную деятельность в определенной сфере и (или) выполнять работу по конкретным профессии или специальности;
						p К освоению образовательных программ допускаются лица, имеющие образование не ниже основного общего или среднего общего образования.
						p Дополнительное профессиональное образование направлено на удовлетворение образовательных и профессиональных потребностей, профессиональное развитие человека, обеспечение соответствия его квалификации меняющимся условиям профессиональной деятельности и социальной среды.
						p К освоению дополнительных профессиональных программ допускаются:
						ul
							li лица, имеющие среднее профессиональное и (или) высшее образование;
							li лица, получающие среднее профессиональное и (или) высшее образование.
							li Курсы ДПО не позволяют повысить свой уровень образования, например, получить высшее образование, но позволяют лицам со средним профессиональным или высшим образованием сменить профессию.
						p Главное отличие профессиональной переподготовки от профессионального обучения (второго) – меньший срок обучения.  Пройдя переподготовку или получив второе высшее образование, специалист может работать на равнозначных должностях.
				.spoiler
					h3.spoiler__title Чем отличается программа повышения квалификации от профессиональной переподготовки?
						.spoiler__plus
					.text-container
						p Профессиональное образование — вид образования, который направлен на приобретение обучающимися в процессе освоения основных профессиональных образовательных программ знаний, умений, навыков и формирование компетенции определенных уровня и объема, позволяющих вести профессиональную деятельность в определенной сфере и (или) выполнять работу по конкретным профессии или специальности;
						p К освоению образовательных программ допускаются лица, имеющие образование не ниже основного общего или среднего общего образования.
						p Дополнительное профессиональное образование направлено на удовлетворение образовательных и профессиональных потребностей, профессиональное развитие человека, обеспечение соответствия его квалификации меняющимся условиям профессиональной деятельности и социальной среды.
						p К освоению дополнительных профессиональных программ допускаются:
						ul
							li лица, имеющие среднее профессиональное и (или) высшее образование;
							li лица, получающие среднее профессиональное и (или) высшее образование.
							li Курсы ДПО не позволяют повысить свой уровень образования, например, получить высшее образование, но позволяют лицам со средним профессиональным или высшим образованием сменить профессию.
						p Главное отличие профессиональной переподготовки от профессионального обучения (второго) – меньший срок обучения.  Пройдя переподготовку или получив второе высшее образование, специалист может работать на равнозначных должностях.
				.spoiler
					h3.spoiler__title Какой документ выдается по окончании обучения в вашем Учебном Центре?
						.spoiler__plus
					.text-container
						p Профессиональное образование — вид образования, который направлен на приобретение обучающимися в процессе освоения основных профессиональных образовательных программ знаний, умений, навыков и формирование компетенции определенных уровня и объема, позволяющих вести профессиональную деятельность в определенной сфере и (или) выполнять работу по конкретным профессии или специальности;
						p К освоению образовательных программ допускаются лица, имеющие образование не ниже основного общего или среднего общего образования.
						p Дополнительное профессиональное образование направлено на удовлетворение образовательных и профессиональных потребностей, профессиональное развитие человека, обеспечение соответствия его квалификации меняющимся условиям профессиональной деятельности и социальной среды.
						p К освоению дополнительных профессиональных программ допускаются:
						ul
							li лица, имеющие среднее профессиональное и (или) высшее образование;
							li лица, получающие среднее профессиональное и (или) высшее образование.
							li Курсы ДПО не позволяют повысить свой уровень образования, например, получить высшее образование, но позволяют лицам со средним профессиональным или высшим образованием сменить профессию.
						p Главное отличие профессиональной переподготовки от профессионального обучения (второго) – меньший срок обучения.  Пройдя переподготовку или получив второе высшее образование, специалист может работать на равнозначных должностях.
				.spoiler
					h3.spoiler__title Как распознать добросовестные организации, оказывающие образовательные услуги в сфере ДПО?
						.spoiler__plus
					.text-container
						p Профессиональное образование — вид образования, который направлен на приобретение обучающимися в процессе освоения основных профессиональных образовательных программ знаний, умений, навыков и формирование компетенции определенных уровня и объема, позволяющих вести профессиональную деятельность в определенной сфере и (или) выполнять работу по конкретным профессии или специальности;
						p К освоению образовательных программ допускаются лица, имеющие образование не ниже основного общего или среднего общего образования.
						p Дополнительное профессиональное образование направлено на удовлетворение образовательных и профессиональных потребностей, профессиональное развитие человека, обеспечение соответствия его квалификации меняющимся условиям профессиональной деятельности и социальной среды.
						p К освоению дополнительных профессиональных программ допускаются:
						ul
							li лица, имеющие среднее профессиональное и (или) высшее образование;
							li лица, получающие среднее профессиональное и (или) высшее образование.
							li Курсы ДПО не позволяют повысить свой уровень образования, например, получить высшее образование, но позволяют лицам со средним профессиональным или высшим образованием сменить профессию.
						p Главное отличие профессиональной переподготовки от профессионального обучения (второго) – меньший срок обучения.  Пройдя переподготовку или получив второе высшее образование, специалист может работать на равнозначных должностях.
			.mini-caption
				h3.mini-caption__title Есть вопрос? Задайте его <span>прямо сейчас!</span>
				h3.mini-caption__text Приблизительное время для ответа менеджером составит «5» минут
			a.btn.btn_dark(href="") Задать вопрос

	+contact