//- главная
extends ../layout.pug

block head-inner
	+title('Index page')
	+desc('Index page description')

	link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')

block main
	+mainscreen
	+procedures
	+services-section
	+equipment
	+ba
	+reasons
	+consult
	+roadmap
	+team
	+reviews-slider
	+question
	+subscribe-form
	+contact
	+modal-callback
	+modal-thanks

block body-bottom-inner
	script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')