//- главная
extends ../layout.pug

block head-inner
	+title('Index page')
	+desc('Index page description')

	link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')

block main
	+mainscreen
	+procedures
	+services-section
	+equipment
	//- До / после 
	+reasons
	+consult
	+roadmap
	+team
	+reviews
	+question
	+subscribe-form

block body-bottom-inner
	script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')