mixin procedures
	section.procedures
		.container
			.caption
				h2.caption__title Насладитесь новым уровнем процедур
		.item
			img.item__img(src=img+"procedures/img1.jpg", alt="")
			.item-inner
				.caption
						h2.caption__title Лица
						p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. С другой стороны, сложившаяся структура организации выявляет срочную потребность приоритизации разума над эмоциями.  <br> <br> Прежде всего, убеждённость некоторых оппонентов требует анализа системы обучения кадров, соответствующей насущным потребностям. Высокотехнологичная концепция общественного уклада представляет собой интересный эксперимент проверки новых предложений.
		.item
			img.item__img(src=img+"procedures/img2.jpg", alt="")
			.item-inner
				.caption
						h2.caption__title Тела
						p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. <br> <br> С другой стороны, сложившаяся структура организации выявляет срочную потребность приоритизации разума над эмоциями. Прежде всего, убеждённость некоторых оппонентов требует анализа системы обучения кадров, соответствующей насущным потребностям. Высокотехнологичная концепция общественного уклада представляет собой интересный эксперимент проверки новых предложений.