mixin subscribe-form
	section.subscribe-form
		.container
			.subscribe-form-thanks
				.caption.caption_center.caption_white
					h2.caption__title Успешно отправлено
					p.caption__text Если уведомления об акциях не приходит, проверяйте папку спам
			.caption.caption_center.caption_white
				h2.caption__title Получайте уведомления <br> о новых скидках и предложениях
				p.caption__text Для уведомления вас о новых скидках и предложениях заполните форму ниже
			form.form(action="#")
				fieldset.form-block
					input.form__input(type="email" placeholder="например test@gmail.com")
					span Обязательно для заполнения!
				fieldset.form-block
						button.form__btn Получать предложения на скидки
				fieldset.form-block.form-block_last
					p.form__info Даю согласие на <a href="personal.html">обработку персональных данных</a>

