mixin mainscreen
	section.mainscreen
		.container
			.inner
				h1.mainscreen__title Аппаратная косметология
				p.mainscreen__text Омоложение и оздоровление вашей кожи!
				img.lozad.mainscreen__img(data-src=img+"mainscreen/img.png", alt="")
				.record
					.record-thanks
						.record-thanks__icon
							+check-icon
						h2.record-thanks__title <span>Успешно</span> отправлено!
						p.record-thanks__text Спасибо за запись, наш менеджер свяжется с вами для подтверждения заявки на запись.
					.record__text Для записи на прием оставьте свой номер телефона
					form.record-form(action="#") 
						fieldset.record-form-block
							label.record-form__label
								+user-card-icon
							input.record-form__input(type="tel" placeholder="+7 (___) ___  __ __")
						fieldset.record-form-block
							button.record-form__btn Записаться на прием
						fieldset.record-form-block.record-form-block_large
							p.record-form__info Согласен (-на) с <a href="privacy.html">политикой конфиденциальности</a> и даю свое согласие на обработку персональных данных
				.cards
					.card
						.card__plus +
						.card__title <b>21% Скидка</b> при <br> первом посещении
						.card__text *Аппаратные процедуры для лица и тела
					.card
						.card__plus +
						.card__title Приведи подругу — <br> <b>получи бонус</b>
						.card__text *Поверхностный пилинг
					.card
						.card__plus +
						.card__title <b>Получите дисконтную <br> карту</b> при — прохождении 2 процедур 
						.card__text *Массаж лица
					.card
						.card__plus +
						.card__title <b>21% Скидка</b> при первом посещении
						.card__text *Чистка лица
			.section-label Новый уровень косметологии в Санкт-Петербурге


